.ba-price{
	font: 400 36px/1 $header-font-family;

	&__sign{
		font-size: 16px;
	}
}
.ba-slider-new{
	margin: 0 -15px;
}
.ba-product-new{
	margin-bottom: 30px;
	padding: 0 15px;
	@include breakpoint(medium){
		display: flex;
	}

	&__img{
		position: relative;
		overflow: hidden;
		@include breakpoint(medium){
			width: 33.3%;
			flex-shrink: 0;
		}
		img{
			display: block;
			width: 100%;
			object-fit: cover;
			height: 100%;

			transition-property: opacity, transform;
			transition-duration: 0.5s;
			transform-origin: 50% 100%;
		}

		&:hover{
			.ba-product-new__add-to-cart{
				transform: translateY(0%);
				svg{
					transform: scale(1);
				}
			}
		}
	}
	&__img-link{
		display: block;
		outline: 2px red solid;
		height: 100%;
		&:hover{
			img{
				opacity: 0.6;
				transform: rotate(3deg) scale(1.2);
			}
		}
	}
	&__add-to-cart{
		transition-property: transform;
		transition-duration: 0.3s;
		transform: translateY(100%);
		position: absolute;
		bottom: 0;
		left: 50%;
		background: rgba($primary-color, 0.9);
		padding: 20px 22px;
		margin-left: -50px;

		svg{
			// transition-property: transform;
			// transition-duration: 0.3s;
			// transform: scale(0);
			// transition-delay: 0.3s;
			// transition: transform 0.3s 0.3s;

			animation: oleg 0.8s infinite;
		}
		
	}

	&__title{
	}
	&__info{
		background: #feffde;
		padding: 60px 45px 25px;

		display: flex;
		flex-direction: column;		

		@include show-for(medium);
	}
	&__authors{
		flex-grow: 1;
	}	
}

@keyframes oleg{
	0%{
		transform: scale(1)
	}
	50%{
		transform: scale(0.8)
	}
	100%{
		transform: scale(1)
	}
}

.ba-event{
	&__title{

	}

	&__link{
		position: relative;
		z-index: 1;
		margin-left: 40px;
		display: block;
		overflow: hidden;
		img{
			display: block;
			width: 100%;

			transition: transform 0.3s;
		}

		&:hover{
			img{
				transform: scale(1.2);
			}
		}
	}

	&__body{
		position: relative;
		z-index: 2;
		background: rgba(#fff, 0.8);
		margin-top: -80px;
		padding: 10px 15px;
	}
}