<footer class="ba-footer">
	<div class="row">
		<div class="column small-12 medium-4 ba-footer__col-1">
			<img src="assets/img/bookstore-logo-1.png" alt="">
			<img src="assets/img/bookstore-logo-2.png" alt="">
			<img src="assets/img/bookstore-logo-3.png" alt="">
			<img src="assets/img/bookstore-logo-4.png" alt="">
		</div>
		<!-- /.column -->
		<div class="column small-12 medium-4 ba-footer__col-2">
			<div class="row">
				<div class="column small-6 medium-12 large-6">
					<ul class="menu vertical">
						<li><a href="catalog.html">КАТАЛОГ</a></li>
						<li><a href="news.html">ПОДІЇ/ЦІКАВЕ</a></li>
						<li><a href="contacts.html">КОНТАКТИ</a></li>
					</ul>
				</div>
				<!-- /.column smll-6 -->
				<div class="column small-6 medium-12 large-6">
					<ul class="menu vertical">
						<li><a href="#">Як придбати</a></li>
						<li><a href="#">Ціни</a></li>
						<li><a href="#">Вимоги до друку</a></li>
						<li><a href="#">Книгарні</a></li>
					</ul>
				</div>
				<!-- /.column smll-6 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.column -->
		<div class="column small-12 medium-4 ba-footer__col-3">
			<ul class="menu vertical">
				<li>
					<a href="#">
						<svg width="34" height="30">
							<use xlink:href="#icon-cart" />
						</svg>
						<span class="show-for-medium">
							Кошик
						</span>
					</a>									
				</li>
				<li>
					<a href="#">
						<svg width="30" height="30">
							<use xlink:href="#icon-user" />
						</svg>
						<span class="show-for-medium">
							Увійти
						</span>
					</a>	
				</li>
			</ul>
		</div>
		<!-- /.column -->

	</div>
	<!-- /.row -->
</footer>
<!-- /.ba-footer -->