<section class="ba-section">

	<div class="row align-center">
		<div class="column small-12 medium-10">
			<h2 class="ba-heading-line">Нове</h2>			
			<!-- /.ba-catalog-list-wrap -->
		</div>
		<div class="column small-12">
			
			<div class="ba-slider-new">
				{{#repeat 16}}
					<div class="ba-slider-new__item">
						<article class="ba-product-new">
							<form action="#" method="post" class="ba-product-new__img">
								<a class="ba-product-new__img-link" href="single.html">
									<img src="assets/img/n11.jpg" alt="Управління дорожнім рухом на регульованих перехрестях у містах">
								</a>
								<button type="submit" class="ba-product-new__add-to-cart" title="Додати у коsшик">
									<svg width="55" height="50">
										<use xlink:href="#icon-cart" />
									</svg>
								</button>	
							</form>
							<!-- /.ba-product-new__img -->

							<div class="ba-product-new__info">
								<h3 class="ba-product-new__title">Управління дорожнім рухом на регульованих перехрестях у містах</h3>
								<p class="ba-product-new__authors">Форнальчик Є. Ю., Могила І. А., Трушевський В. Е., Гілевич В. В.</p>
								<div class="ba-price">
									120 <span class="ba-price__sign">грн.</span>
								</div>
							</div>
							<!-- /.ba-product-new__info -->
						</article>
						<!-- /.ba-product-new -->
					</div>
					<!-- /.ba-slider-new__item -->
				{{/repeat}}
			</div>
			<!-- /.ba-slider-new -->

		</div>
	</div>
	<!-- /.row -->

</section>