<div class="row column">
	<h2 class="ba-heading-line">Події/Цікаве</h2>
	<button class="button" type="button" data-toggle="example-dropdown2">Top Aligned</button>

	<div class="dropdown-pane top" id="example-dropdown2" data-dropdown>
	  Just some junk that needs to be said. Or not. Your choice.
	</div>
	<div class="row">
		{{#repeat 3}}
		<div class="column small-12 medium-4">
			<article class="ba-event">
				<a href="#" class="ba-event__link">
					<img src="assets\img\event-img3.jpg" alt="Хай живуть канікули!">	
				</a>
				<div class="ba-event__body">
					<h3 class="ba-event__title">
						<a href="#">
							Хай живуть канікули!
						</a>
					</h3>
					<p>Дорогі Автори, Читачі, Покупці!
						Наразі нам не пишіть і не дзвоніть.
						 Ми будемо поза межами і поза зонами.</p>					
				</div>
				<!-- /.ba-event__body -->
			</article>
		</div>
		<!-- /.column -->
		{{/repeat }}
	</div>
	<!-- /.row -->
</div>
<!-- /.row column -->